{% extends "blog/base.html" %}
{% block content %}
    {% for post in post_list %}
    <div class="post">
        <h1><a class="post-title" href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
        {{post.text|safe|linebreaksbr}}
        <div class="date">
            <p><b>Published on:</b> {{post.published_date|date:"M d, Y"}}</p>
        </div>
        <a href="{% url 'post_detail' pk=post.pk %}"><b>Comments:</b> {{ post.approve_comments.count }}</a>
    </div>
    {% endfor %}
{% endblock %}